*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #d6deeb;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --background-color: #011627;
    /* --background-color: #01111d; */
    /* --secondary-bg-color: #011627; */
    --secondary-bg-color: #01111d; 
    --hover-bg-color:#01111d;
    --active-selection: #1D3B53;
    --text-color: #d6deeb;
    --secondary-color: #607B96;
    --border-color: #5f7e97;
    --profession-color:#4D5BCE;
    --value-color:#E99287;
    --var-color:#43D9AD;
    --border-bottom-color:#E99287;
    --primary-ff: 'Fira Code', monospace;
    --second-ff: 'JetBrains Mono', monospace;
    --third-ff:'Nanum Gothic Coding', monospace;
}
html{
    height: 100%;
    scroll-behavior: smooth;

}
body{
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: fixed;
}

/* Hero section */
.hero-section{
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
}   

/* Nav bar */
.navbar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 7%;
    width: 100%;
}
.navbar div{
    display: inline-flex;
    align-items: center;
    padding: 0.6em;
    border-right: 1px solid var(--border-color);
    cursor: pointer;
    height: 100%;
}
.navbar a{
    color: var(--secondary-color);
    font-family: var(--primary-ff);
    font-size: 1.125rem;
}
.navbar div:hover{
    background-color: var(--hover-bg-color);
}
.navbar div:hover:not(.navbar div:first-child), #nav-active{
    border-bottom: 3px solid var(--border-bottom-color);
}
.navbar div:hover a, #nav-active a{
    color: var(--text-color);
}
#nav-suresh {
    border-top-left-radius: 0.5rem;
    width: 17%;
}   
#nav-suresh a{
    color: var(--text-color);
}
.navbar div:last-child{
    margin-left: auto;
    border-left: 1px solid var(--border-color);;
    border-right: none;
    border-top-right-radius: 0.5rem;

}
/* center section */
.hero-text{
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
#hero-name{
    font-family: var(--second-ff);
    font-size: 3rem;
}
.profession{
    font-family: var(--primary-ff);
    color: var(--profession-color);
    font-size: 1.5rem;
}
.profession span{
    font-family: var(--primary-ff);
    color: var(--profession-color);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.animate-pulse{
    font-size: .25rem;
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}
@keyframes pulse {
    50%{
        opacity: .5;
    }
}
.hi-text{
    font-family: var(--primary-ff);
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: lighter;
}
.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 2em 0.5em;
    font-size: 1rem;
    height: 15%;
    font-family: var(--second-ff);
}
.container-2 p{
    line-height: 1.6;
}
.comment{
    color: var(--secondary-color);
}
.var{
    color: var(--var-color);
}
.value{
    color: var(--value-color);
}
.value:hover{
    text-decoration: underline;
}
/* Footer nav */
.footer{
    display: flex;
    align-items: center;
    height: 5%;
    border-top: 1px solid var(--border-color);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.footer a{
    display: inline-flex;
    font-size: 1rem;
    font-family: var(--primary-ff);
    color: var(--secondary-color);
    padding: 0.25em;
    align-items: center;
}
.footer div{
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-family: var(--primary-ff);
    color: var(--secondary-color);
    padding: 0 0.25em;
    cursor: pointer;
}
.footer div:not(:nth-last-child(-n+5)){
    border-right: 1px solid var(--border-color);  
}
.footer div:first-child{
    border-bottom-left-radius: 0.5rem;
}
.footer div:last-child{
    border-left: 1px solid var(--border-color);
    border-bottom-right-radius: 0.5rem;
}
.footer div:nth-last-child(-n+5){
    border-left: 1px solid var(--border-color);
}
.foot-4{
    margin-left: auto;
}
.footer div:not(:nth-child(3), :nth-child(4)):hover, .footer div:not(:nth-child(3)):hover .icon{
    background-color: var(--hover-bg-color);
    color: var(--text-color);
    fill: var(--text-color);
}
.footer a:hover, .footer a:hover .icon{       
    fill: var(--text-color);
    color: var(--text-color);
}
.foot-5:hover .st0{
    stroke: var(--text-color);
}

@keyframes refresh{
    0%{
        transform: rotate(270deg) matrix(-1, 0, 0, 1, 0, 0);
    }
    25%{
        transform: rotate(0deg) matrix(-1, 0, 0, 1, 0, 0);
    }
    50%{
        transform: rotate(90deg) matrix(-1, 0, 0, 1, 0, 0);
    }
    75%{
        transform: rotate(180deg) matrix(-1, 0, 0, 1, 0, 0);
    }
    100%{
        transform: rotate(270deg) matrix(-1, 0, 0, 1, 0, 0);
    }
}
/* icons */
.icon{
    width: 20px;
    height: 20px;
    fill: var(--secondary-color);
    margin: 0 5px;
}
.github-reload{
    transform: rotate(270deg) matrix(-1, 0, 0, 1, 0, 0);
    margin: 0;
}
.github-warning{
    fill: none;
}   
.footer div:nth-child(2){
    padding: 0 5px;
}