*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #d6deeb;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --background-color: #011627;
    /* --background-color: #01111d; */
    /* --secondary-bg-color: #011627; */
    --secondary-bg-color: #01111d; 
    --hover-bg-color:#01111d;
    --active-selection: #1D3B53;
    --text-color: #d6deeb;
    --secondary-color: #607B96;
    --border-color: #5f7e97;
    --white-color: #ffffff;
    --profession-color:#4D5BCE;
    --value-color:#E99287;
    --var-color:#43D9AD;
    --border-bottom-color:#E99287;
    --primary-ff: 'Fira Code', monospace;
    --second-ff: 'JetBrains Mono', monospace;
    --third-ff:'Nanum Gothic Coding', monospace;
}

html {
    height: 100%;
}

@media screen and (max-width: 480px) {
    html{
        font-size: 16px;
    }
}

body{
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

/* Hero section */
.hero-section{
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}   

/* Nav bar */
.navbar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 9%;
    /* padding: 0.5em; */
    width: 100%;
}
.navbar div{
    /* display: inline-block; */
    font-family: var(--primary-ff);
    color: var(--secondary-color);
    font-size: 1.125rem;
    padding: 0.6em;
    border-right: 1px solid var(--border-color);
    cursor: pointer;
    box-sizing: border-box;
}
.navbar div:hover{
    background-color: var(--hover-bg-color);
    box-shadow: none;
}
.navbar div:hover:not(#nav-suresh), #nav-active{
    color: var(--text-color);
    border-bottom: 3px solid var(--border-bottom-color);
}
#nav-suresh{
    color: var(--text-color);
    width: 10em;
    border-top-left-radius: 0.5rem;
}
.navbar div:last-child{
    margin-left: auto;
    border-left: 1px solid var(--border-color);;
    border-right: none;
    border-top-right-radius: 0.5rem;

}
/* center section */
.hero-text{
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84%;
}
#hero-name{
    font-family: var(--second-ff);
    font-size: 3rem;
}
.profession{
    font-family: var(--primary-ff);
    color: var(--profession-color);
    font-size: 1.5rem;
}
.profession span{
    font-family: var(--primary-ff);
    color: var(--profession-color);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.animate-pulse{
    font-size: .25rem;
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}
@keyframes pulse {
    50%{
        opacity: .5;
    }
}
.hi-text{
    font-family: var(--primary-ff);
    color: var(--secondary-color);
    font-size: 1.5rem;
}
.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 2em 0.5em;
    font-size: 1rem;
    height: 15%;
    font-family: var(--second-ff);
}
.container-2 p{
    line-height: 1.6;
}
.comment{
    color: var(--secondary-color);
}
.var{
    color: var(--var-color);
}
.value{
    color: var(--value-color);
}
.value:hover{
    text-decoration: underline;
}
/* Footer nav */
.footer{
    display: flex;
    align-items: center;
    height: 7%;
    border-top: 1px solid var(--border-color);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.footer a{
    display: inline-flex;
    font-size: 1rem;
    font-family: var(--primary-ff);
    color: var(--secondary-color);
    padding: 0.5em;
    align-items: center;
}
.footer div{
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.footer div:hover{
    background-color: var(--hover-bg-color);
}
.footer div:not(.foot-4){
    border-right: 1px solid var(--border-color);  
}
.footer a:hover, .footer a:hover .icon{       
    fill: var(--text-color);
    color: var(--text-color);
}
.footer div:first-child{
    border-bottom-left-radius: 0.5rem;
}
.footer div:last-child{
    border-left: 1px solid var(--border-color);
    margin-left: auto;
    border-bottom-right-radius: 0.5rem;
}
/* icons */
.icon{
    width: 20px;
    height: 20px;
    fill: var(--secondary-color);
    margin: 0 5px;
}
.github-reload{
    transform: rotate(270deg) matrix(-1, 0, 0, 1, 0, 0);
    margin: 0;
    cursor: pointer;
}
.footer div:nth-child(2){
    padding: 0 5px;
}