:root{
    --background-color: #011627;
    /* --background-color: #01111d; */
    /* --secondary-bg-color: #011627; */
    --secondary-bg-color: #01111d; 
    --hover-bg-color:#01111d;
    --active-selection: #1D3B53;
    --text-color: #d6deeb;
    --secondary-color: #607B96;
    --border-color: #5f7e97;
    --var-constant-color:#FF6363;
    --var-value-color: 	#82AAFF;
    --var-name-color: #7FDBCA;
    --var-dict-key-color: #C792EA;

    --profession-color:#4D5BCE;
    --value-color:#E99287;
    --var-color:#43D9AD;
    --comment-color: #637777;
    --primary-ff: 'Fira Code', monospace;
    --second-ff: 'JetBrains Mono', monospace;
    --third-ff:'Nanum Gothic Coding', monospace;
}
.main-content{
    display: flex;
    height: 88%;
}
/* sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    width: 17%;
    border-right: 1px solid var(--border-color);
    font-size: 1.125rem;
    height: 100%;
}
.sidebar-link{
    font-family: var(--primary-ff);
    font-size: 1rem;
    color: var(--secondary-color);
    padding: 0.25em 0.6em;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.sidebar p{
    font-family: var(--primary-ff);
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}
#sidebar-active,
.sidebar-link:hover {
    color: var(--text-color);
    background-color: var(--active-selection);
}
#sidebar-active svg,
.sidebar-link:hover svg {
    fill: var(--text-color);
}
.contacts{
    margin-top: auto;
    margin-bottom: 2em;
}
.contacts > a{
    margin-top: .5em;
}
.contacts > p{
    border-top: 1px solid var(--border-color);
}
/* scrollbar */
::-webkit-scrollbar {
    width: .8em;
}  
::-webkit-scrollbar-track {
    background-color: var(--active-selection);
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}
/* code */
.code-content{
    margin: .5em;
    flex-grow: 1;
    overflow-y: auto;
    width: 81%;
    height:98%;
    scrollbar-color: var(--active-selection) var(--secondary-color);
    scrollbar-width: .8em;
}
.data-line, .dict, .list{
    font-family: var(--primary-ff);
    font-size: 1rem;
    padding: .1em;
}
.dict-items,.list-items{
    font-family: var(--primary-ff);
    font-size: 1rem;
}
.line-no{
    color: var(--secondary-color);
    display: inline-block;
    width: 1.5em; 
    margin-right: 1.5em;
    text-align: end;
}

.const-name{
    color: var(--var-constant-color);
    text-transform: uppercase;
}
.var-value, .var-dict-value, .var-list-value{
    color: var(--var-value-color);
}
.var-name{
    color: var(--var-name-color);
}
.var-name-v2{
    color: var(--var-constant-color);
}
.var-dict-key{
    color: var(--var-dict-key-color);
}
.inner{
    margin-left: 1.5em;
}
.dict, .list{
    display: flex;
}
.dict-items, .list-items{
    margin-left: 1.5em;
}
.comment{
    font-style: italic;
    color: var(--comment-color);
    margin-left: 1em;
}
.python-icon{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    fill: var(--secondary-color);
}
